/**
 * The main CSS file for the Page Forms extension.
 */

/* Override "width: 100%" setting in standard MediaWiki skins 盖写mw-ui-input */
#mw-content-text .createboxInput {
    border: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 8px;
    margin-top: 8px;
    box-shadow: inset 0 0 0 1px #aaa;
    width:auto;
    margin-right:20px;
    display:inline-block;
}

textarea.mandatoryField {
	width: auto;
}

/* Used in 'create template' page */
.fieldBox {
	padding: 1em;
	margin-bottom: 1.5em;
}/* 加well */

/* Used in 'create form' page */
.templateForm {
	padding: 1em;
	margin-bottom: 1.5em;
}/* 加well */

/* Used in 'create form' page */
.sectionForm {
	padding: 1em;
	margin-bottom: 1.5em;
}/* 加well */

/* deleteField button 创建模板页的删除按钮，内容改成× */
input.deleteField {
    font-size: 26px;
    line-height: 24px;
    border: 0;
    width: 26px;
	min-width: auto;
    padding: 0;
}/* 为了避免well的颜色和×颜色太相近，去掉mw-ui-button，加上btn-danger */
.fieldBox td:last-child{
    width: 26px;
    vertical-align: top;
}
	

/* Used in form pages */
table.formtable {
	/* width: 100%; */
}

table.formtable th {
    min-width: 100px;
    text-align: right;
    padding-right: 15px;
    max-width: 200px;
    vertical-align:middle;
}

/* another possible layout */
table.formtable2 {
	width: 100%;
	margin: 5px 0 0;
	padding: 0.3em 0.2em 0.2em 0.2em;
	background: transparent;
	border-collapse: collapse;
}
table.formtable2 th, table.formtable2 td {
	vertical-align: top;
}

/* this makes sure that in long lists with checkboxes the checkbox and the
corresponding label are not torn apart by a line break */
span.checkboxSpan {
	/* 'nowrap' doesn't work in IE, unfortunately */
	/* white-space: nowrap; */
	float: left;
	padding-right: 9px;
}

/* the "remove" and "add another" buttons used for multiple templates */
input.remove, input.addanother {
}
/* this selects text and dropdown list inputs that have been set to
mandatory */
input.mandatoryField, select.mandatoryField {
	/* (suggested formatting) */
	/* border: 1px #d72227 solid; */
}
/* a span around radiobuttons and checkboxes that are set to mandatory,
since some browsers don't support formatting of these elements, and a
span around a set of them looks nicer anyway */
span.mandatoryFieldsSpan {
	/* (suggested formatting) */
	/* border: 1px #d72227 solid;
	padding: 4px; */
}

/** INPUT FIELD STYLE */
#pfForm .createboxInput,
#pfForm .mandatoryField,
#pfForm textarea {
	max-width: 100%;
	margin-left: 0;
	border-radius: 3px;
	border: 1px solid #BBB;
	padding: 4px 8px;
	display: inline-block;
}

#pfForm input[readonly] {
  /*  background: #EEE; */
}

#pfForm .select2-container {
    border: none;
    padding: 0;
}
#pfForm textarea,
form input.formInput,
#pfForm input.yearInput,
#pfForm input.dayInput,
#pfForm input.hoursInput,
#pfForm input.minutesInput,
#pfForm input.secondsInput {
  /*  border-radius: 3px;
    border: 1px solid #BBB;*/
    padding: 4px 8px;
}

/* The dropdowns need slightly different settings. */
#pfForm select.monthInput,
#pfForm select.ampmInput {
   /* border-radius: 3px;
    border: 1px solid #BBB; */
    padding: 3px 8px;
}

#pfForm input#wpSummary,
#pfForminput#wpSummary:hover {
    padding: 4px 8px;
}
#pfForm select,
#pfForm input[type="checkbox"] {
    min-width: 0;
    max-width: 100%;
    width: auto !important;
}
#pfForm input#wpSummary,
#pfForm input#wpSummary:hover {
    max-width: 100%;
}
/* Select2 inputs */
#pfForm .select2-container {
    width: auto;
}
.select2-choices,
.select2-choice {
    min-width: 260px;
    max-width: 100%;
}
.select2-choice {
    /*width: 412px !important;*/
}

.formtable textarea {
    /*width: 422px !important;*/
}

/** /INPUT FIELD STYLE */

/* Override Select2 Style */
.select2-drop-active {
    border: 1px solid #999;
}
.select2-container-multi .select2-choices {
    padding: 2px 0;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 4px 5px 4px 18px;
}

.select2-container .select2-choice .select2-arrow {
    border-radius: 0;
}

.select2-container .select2-choice > .select2-chosen {
    color: #000;
}

div.infoMessage {
/*	border: 1px solid #777777;
	padding: 12px;
	margin: 25px;
	width: auto;
	background: #eeeeee; */
}/* 没遇到过用在哪里，可以也改成well */

div.errorMessage {
	color: red;
	margin: 1px 0 4px 0;
}
.inputError {
	background: #FCEEEE;
}

div.mainForms {
	font-size: large;
}

div.otherForms {
	font-size: small;
}

.multipleTemplateInstance {

} /* 改成well */

.multipleTemplateInstance table {
	width: 100%;
	padding: 0;
	margin: 0;
	color: inherit;
	background-color: inherit;
}

.instanceAddAbove{
	display:none;
} /* 这个按钮的功能没啥必要，干脆隐藏掉了 

a.addAboveButton {
	display: block;
	width: 34px;
	height: 34px;
	background-image: url('PF_add_above.png');
}

a.addAboveButton:hover {
	background-image: url('PF_add_above_hover.png');
}

a.addAboveButton:active {
	background-image: url('PF_add_above_active.png');
} */

a.removeButton {
	display: block;
	width: 34px;
	height: 34px;
	background-image: url('PF_remove.png');
}

a.removeButton:hover {
	background-image: url('PF_remove_hover.png');
}

a.removeButton:active {
	background-image: url('PF_remove_active.png');
}

.instanceRemove {
    vertical-align: top;
}

td.instanceRearranger {
	cursor: move;
	background-image: url(rearrangeDots.png);
	background-repeat: repeat;
	width: 8px;
}
td.instanceMain {
	padding-left: 25px;
}
td.instanceAddAbove, td.instanceRemove {
	padding: 0;
	width: 34px;
	overflow: visible;
}

.autoGrow {
	overflow: hidden;
	height: auto;
/*	width: 326px;*/
}

/* Override some jQuery UI settings */
.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; }
button.ui-button-icon-only {
	width: 1.7em;
	height: 1.5em;
	vertical-align: bottom;
	margin-top: 0.2em;
} /* button elements seem to need a little more width */
/* Override CSS from Header Tabs extension, if tabs are used in the form */
input.pfComboBoxActual {
	border: 1px solid #a6a6a6;
}
